<div class="bg">
<div class="col-md-12 text-center">
    <table class="table">
        <thead>
          <tr><th scope="col"><button type="submit"  class="btn btn-success" [routerLink]="['/searchregulartrip']">Search for a Regular Trip</button></th></tr>
           <tr><th scope="col"><button type="submit"  class="btn btn-success" [routerLink]="['/searchfrequenttrip']">Search for a Frequent Trip</button></th>
            
          </tr>
        </thead>
        </table>
       
    </div>
    <div>
      <a href="http://localhost:4200/dashboard" style="scroll-margin-left:556px;" class="previous round">previous</a>
    </div>
    </div>